<div class="socialize-buttons-show">
    <%= link_to user_toggle_follow_path(user_id: current_user, idea_id: idea.id), :method => :post  do %>
        <% if current_user.follows?(@idea) %>
            <%= fa_icon "star", class: 'fa-1x' %>
        <% else %>
            <%= fa_icon "star-o", class: 'fa-1x' %>
        <% end %>
    <% end %>

    <%= link_to user_toggle_like_path(user_id: current_user, idea_id: idea.id), :method => :post  do %>
        <% if current_user.likes?(@idea) %>
            <%= fa_icon "thumbs-up", class: 'fa-1x' %>
        <% else %>
            <%= fa_icon "thumbs-o-up", class: 'fa-1x' %>
        <% end %>
    <%end %>

    <%= idea.likers(User).count %>
</div>
