<div class="grid-container">

    <div class="row">
        <% @ideas.each do |idea| %>
        <div class="column-0"></div>
        <div class="column-0-3">
            <div class="card idea-card column-12">
                <div class="card-image waves-effect waves-block waves-light">
                    <%= image_tag("background-7.jpg", width: '100%', class: "activator") %>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><%= idea.title %> <i class="material-icons right">more_vert</i></span>
                    <p><%= idea.created_at.strftime("%d/%m/%Y")  %></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <%= idea.title %>
                        <i class="material-icons right">close</i>
                        <% if idea.user_id == current_user.id %>
                            <%= link_to edit_fo_idea_path(idea.id), class: '' do %>
                                <i class="material-icons">mode_edit</i></a>
                            <% end %>
                        <% else %>
                            <%= link_to user_toggle_follow_path(user_id: current_user, idea_id: idea.id), :method => :post  do %>
                                <% if current_user.follows?(idea) %>
                                    <%= fa_icon "star", class: 'fa-1x' %>
                                <% else %>
                                    <%= fa_icon "star-o", class: 'fa-1x' %>
                                <% end %>
                            <% end %>

                            <%= link_to user_toggle_like_path(user_id: current_user, idea_id: idea.id), :method => :post  do %>
                                <% if current_user.likes?(idea) %>
                                    <%= fa_icon "thumbs-up", class: 'fa-1x' %>
                                <% else %>
                                    <%= fa_icon "thumbs-o-up", class: 'fa-1x' %>
                                <% end %>
                            <%end %>

                            <%= idea.likers(User).count %>
                        <% end %>
                    </span>
                    <p><%= idea.user.email %></p>
                    <br>
                    <p><%= raw idea.description %></p>
                    <p>nombres de slides : <%= idea.idea_components.count %></p>
                    <%= link_to fo_idea_path(idea.id), class: 'btn idea-show-card' do %>
                    <%= t 'see_idea' %>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>
    </div>

</div>
